.btnVote {
  border: none;
  border-radius: 8px;

  padding: 10px 25px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  color: chocolate;

  transition: transform 250ms linear;
  &:hover {
    transform: scale(1.2);
    background-color: coral;
    color: darkslategray;
  }
}
